<section id="team" class="pb-5">
    <div class="container-fluid fondito">
        <h5 class="section-title h1">¡¡Esto te puede Interesar!!</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/imagenes/adoptad.jpg" alt="card image"></p>
                                  <h4 class="card-title">¿Por qué es importante Adoptar</h4>
                                    <p class="card-text">Adopta en vez de Comprar.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                
                                    <p class="card-text">Hay muchos animalitos desamparados que diariamente son rescatados de la calle o del campo con el fin de evitar que tengan un horrible y trágico final. Muchos de ellos tienen mucho amor que dar y esperan ansiosamente un hogar cálido y personas que le den afecto… 
                                        <a href="https://www.euroresidentes.com/hogar/mascotas/la-importancia-de-adoptar-mascotas">Lee más aquí</a></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/imagenes/calle.jpg" alt="card image"></p>
                                    <h4 class="card-title">Perritos en Situación de Calle</h4>
                                    <p class="card-text">Lee está impactante nota</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">México abandona al 70 % de sus mascotas: es primer lugar en Latinoamérica de animales en situación de calle.
                                        <a href="https://newsweekespanol.com/2018/05/mexico-abandona-70-primeer-lugar-latinoamerica-de-animales-situacion-de-calle/#.WxCAxPU-UOw.facebook">Lee más aquí</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/imagenes/requisitos.jpg" alt="card image"></p>
                                    <h4 class="card-title">¿Qué necesito para Adoptar?</h4>
                                    <p class="card-text">Conoce los Requisitos</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   
                                    <p class="card-text">Aquí te compartimos algunos puntos a considerar si estás interesado en Adoptar una Mascotas
                                      <a href="https://www.facebook.com/notes/patitas-y-bigotes/algunos-requisitos-para-la-adopc%C3%AD%C3%B3n-responsable/1994227793982771/">Lee más aquí</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/imagenes/gatos3.jpg" alt="card image"></p>
                                    <h4 class="card-title">Datos Curiosos de los Gatos</h4>
                                    <p class="card-text">Visita este enlace para saber más de nuestros amigos felinos.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.
                                      <a href="https://www.facebook.com/notes/patitas-y-bigotes/datos-curiosos-de-los-gatos/1994231953982355/">Lee más aquí</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/imagenes/viaje.png" alt="card image"></p>
                                  <h4 class="card-title">¡Me encontré a un peludito en la calle! ¿qué hago?</h4>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">¿te encontraste un perro y/o un gato en la calle y no sabes qué hacer? 
                                      <a href="https://www.facebook.com/notes/patitas-y-bigotes/me-encontr%C3%A9-un-perritogatito-en-la-calle-qu%C3%A9-hago/488831944522371/">Lee más aquí</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/imagenes/gatito.jpg" alt="card image"></p>
                                    <h4 class="card-title">Pasos Para Dar en Adopción a Perros y Gatos</h4>
                                    
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Que debes saber para dar en adopción a un perro y/o gato que rescataste
                                      <a href="https://www.facebook.com/notes/patitas-y-bigotes/pasos-para-dar-en-adopci%C3%B3n-a-perros-y-gatos/500368470035385/">Lee más aquí</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>





























