.fondito{
    background-image: url(../../assets/imagenes/pattern.png);
}

.patitas{
    margin-left: 670px;
    margin-bottom: 100px;
    
   
}




.botonsito{
    background-color: rgb(161, 35, 119);
}


