<div class="container-fluid fondito">
    <div class="row">
      <div class="col">
        <!--aquí empieza la card con todo y el modal -->
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/adoptad.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">¿Por qué es importante Adoptar?</p>
              </div>
              <div class="container">
                  <h2></h2>
                  <!-- Trigger the modal with a button -->
                  <button type="button" class="btn btn-info btn-lg botonsito" data-toggle="modal" data-target="#myModal1">Abrir</button>
                
                  <!-- Modal -->
                  <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Adopta en vez de Comprar</h4>
                        </div>
                        <div class="modal-body">
                          <p>En Patitas y Bigotes fomentamos mucho las Adopciones de Perros y Gatos,
                              ya que con esto podemos ayudar a disminuir el gran problema de la cruza sin medida
                              de perros y gatos con fines de lucro y acabar tambien con los llamados "Fábricas de Cachorros" o "Puppy Mills" (en inglés)
                            cuyo único objetivo es la obtención de beneficios económicos. <br>
                            En este tipo de instalaciones, no se presta atención al bienestar de los animales que, 
                            muy a menudo, viven en condiciones precarias. <br>
                            Otro de los puntos a "atacar" con las Adopciones es que haya menos perros y gatos en las 
                            calles y que se propague una educación de tenencia responsable y así darle una vida digna a nuestros amigos de 4 patas. <br>
        
                            Por lo tanto, te invitamos a tener en cuenta la Adopción; ya sea informandote en los diferentes albergues,
                            en el Antirábico de Guadalajara, con asociaciones, rescatistas independientes y/o rescatar tu mismo a un perro o a un gato de las calles.
                            Rescatar a tu próximo integrante de la familia es una gran ayuda y no es tan caro como piensas; puedes ir al Antirábico de Guadalajara 
                            o al de Zapopan donde tienen bajos costos para su atención médica, asi como esterilizaciones y vacunas. <br>
        
                            Aquí en nuestra página te pondremos a disposición la lista de lugares, veterinarios y asociaciones a donde puedas acercarte!</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
            </div>
            <!--aquí termina-->
      </div>



      <div class="col">
        <!--empieza el segundo -->
        <div id="caja">
        <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/tenencias.jpg" alt="Card image cap" >
              <div class="card-body">
                <p class="card-text">¿Qué es la Tenencia Responsable de Mascotas?</p>
              </div>
              <div class="container">
                  <h2></h2>
                  <!-- Trigger the modal with a button -->
                  <button type="button" class="btn btn-info btn-lg botonsito" data-toggle="modal" data-target="#myModal2">Abrir</button>
                
                  <!-- Modal -->
                  <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Adopta en vez de Comprar</h4>
                        </div>
                        <div class="modal-body segundo">
                          <p>buuu</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
            </div>
        </div>
            <!--termina el segundo -->
      </div>
    </div>






    <div class="row">
      <div class="col">
          <div id="caja">
              <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/requisitos.jpg" alt="Card image cap" >
                    <div class="card-body">
                      <p class="card-text">¿Qué necesito para Adoptar?</p>
                    </div>
                    <div class="container">
                        <h2></h2>
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg botonsito" data-toggle="modal" data-target="#myModal3">Abrir</button>
                      
                        <!-- Modal -->
                        <div class="modal fade" id="myModal3" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Anímate</h4>
                              </div>
                              <div class="modal-body segundo">
                                <p>esto:</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                  </div>
              </div>
      </div>
      <div class="col">
          <div id="caja">
              <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/tenencias.jpg" alt="Card image cap" >
                    <div class="card-body">
                      <p class="card-text">¿Qué es la Tenencia Responsable de Mascotas?</p>
                    </div>
                    <div class="container">
                        <h2></h2>
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg botonsito" data-toggle="modal" data-target="#myModal4">Abrir</button>
                      
                        <!-- Modal -->
                        <div class="modal fade" id="myModal4" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Adopta en vez de Comprar</h4>
                              </div>
                              <div class="modal-body segundo">
                                <p>buuu</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                  </div>
              </div>
      </div>
      <div class="col">
          <div id="caja">
              <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/tenencias.jpg" alt="Card image cap" >
                    <div class="card-body">
                      <p class="card-text">¿Qué es la Tenencia Responsable de Mascotas?</p>
                    </div>
                    <div class="container">
                        <h2></h2>
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg botonsito" data-toggle="modal" data-target="#myModal5">Abrir</button>
                      
                        <!-- Modal -->
                        <div class="modal fade" id="myModal5" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Adopta en vez de Comprar</h4>
                              </div>
                              <div class="modal-body segundo">
                                <p>buuu</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                  </div>
              </div>
      </div>
    </div>
  </div>