<div class="container-fluid">
    <div class="row">
      <div class="col-sm dejanos">
        Dejanos un comentario

        <div class="container">
          <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
           
        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="col-sm ponte">
        Ponte en contacto
      </div>
      <div class="col-sm logo">
        <img class="logotipo" src="../../assets/imagenes/logotipo.jpg" alt="tienda"style="width:150px;height:150px">
      </div>
    </div>


    
  </div>
  

  <div class="icon-bar">
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
      <a href="#" class="google"><i class="fa fa-google"></i></a> 
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
    </div>




    <div>ctn</div>