<div class="search-text"> 
    <div class="container">
      <div class="row text-center">
      
        <div class="form">
            <h4>Subscribete</h4>
             <form id="search-form" class="form-search form-horizontal">
                 <input type="text" class="input-search" placeholder="Email Address">
                 <button type="submit" class="btn-search">SUBMIT</button>
             </form>
         </div>
     
       </div>         
    </div>     
</div>

 <footer>
  <div class="container">
    <div class="row">
    
             <div class="col-md-4 col-sm-6 col-xs-12">
               <span class="logo">Patitas y Bigotes</span>
               <img src ="../../assets/imagenes/logotipo.jpg">
             </div>
             
             <div class="col-md-4 col-sm-6 col-xs-12">
                 <ul class="menu">
                      <span>Menu</span>    
                      <li>
                         <a href="#Acerca de">Home</a>
                       </li>
                            
                       <li>
                          <a href="#Acerca de">Acerca de</a>
                       </li>
                            
                       
                            
                       <li>
                          <a href="#Galería">Galería</a>
                       </li>
                  </ul>
             </div>
        
             <div class="col-md-4 col-sm-6 col-xs-12" id="Contacto">
               <ul class="address">
                     <span>Contact</span>       
                     <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">3310056705</a>
                     </li>
                      
                     <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">jessie.arias7@gmail.com</a>
                     </li> 
                </ul>
            </div>
        
        
        </div> 
     </div>
 </footer>