<div class="container-fluid">
  <div class="row">
    <div class="col-sm dejanos">
      Dejanos un comentario:

      <div class="container">
        <form action="/action_page.php">
          <label for="fname">Nombre: </label>
          <input type="text" id="fname" name="firstname" placeholder="">
      
          <label for="lname">Apellidos:</label>
          <input type="text" id="lname" name="lastname" placeholder="">
      
         
      
          <label for="subject">Mensaje:</label>
          <textarea id="subject" name="subject" placeholder="Escríbenos algo lindo" style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="col-sm ponte" id="Contacto">
      Ponte en contacto:
      <img class="logotipo" src="../../assets/imagenes/subs.jpg" alt="tienda"style="width:50px;height:50px">
    </div>
    <div class="col-sm logo">
      <img class="logotipo" src="../../assets/imagenes/logotipo.jpg" alt="tienda"style="width:150px;height:150px">
    </div>
  </div>


  
</div>




