.gallery-title
{
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


img {
    display: block;
    
    height: 365px;
    width: 365px;
}

.fondito{
    background-image: url(../../assets/imagenes/pattern.png);
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 10px;
    
}


h2{
    font-family: 'Oleo Script', cursive; 
    font-size: 4rem;
    margin-bottom: 10px;
    color: rgb(185, 53, 97);
}