.fondito{
    background-image: url(../../assets/imagenes/pattern.png);
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 10px;
    
}

h2{
    font-family: 'Oleo Script', cursive; 
    font-size: 4rem;
    margin-bottom: 10px;
    color: rgb(185, 53, 97);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(36, 25, 32);
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(70, 39, 56);
    font-size: 35px;
    cursor: pointer;
}