


<div class= "fondito" style="text-align:center" id="Galería">
    <h2>"Galería de Nuestros Eventos"</h2>
    Hemos organizado ya 4 eventos de Adopciones donde muchas rescatistas indepedientes y asociaciones asisitieron
      para apoyar el mensaje de las Adopciones y buscarle hogar a muchos peluditos.
      <br> Nuestro segundo evento fue cubierto por el programa "vive Eco" de Canal7 y fue apoyado por la Regidora de Zapopan
      en ese momento.
      ¡¡Gracias a todos los que  han asistido y esperamos seguir haciendo alianzas para apoyar y asistir a parar el abuso animal.
     <br>¡¡Disfruta de Nuestra Galeria!!
      <div class="container-fluid fondito">
          <div class="row ">  
            <div class="col-12 patitas">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          <img src="../../assets/imagenes/huella-2.png">
          
          </div>
          </div>
      </div>
  
  </div>
  
  <!-- The four columns -->
  <div class="row fondito">
    <div class="column">
      <img src="../../assets/imagenes/evento.jpg" alt="Nature" style="width:100%" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="../../assets/imagenes/eventos3.jpg" alt="Fjords" style="width:100%" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="../../assets/imagenes/eventos4.jpg" alt="Mountains" style="width:100%" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="../../assets/imagenes/eventos5.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
    </div>

    <div class="column">
        <img src="../../assets/imagenes/eventos2.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
      </div>

      <div class="column">
          <img src="../../assets/imagenes/eventos7.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
        </div>

        <div class="column">
            <img src="../../assets/imagenes/eventos8.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
          </div>

          <div class="column">
              <img src="../../assets/imagenes/eventos9.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
            </div>
  </div>
  
  <div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
  </div>
  
 
  