<section id="about">
    <div class="container-fluid fondito">
      <div class="center">
        <div class=" ">
           
            <h2>Acerca de Nosotros</h2>
            
          <hr>
          <div class="row">
          
          <div class="col-md-6 ">
            
          <p class="lead" id="Acerca de">
              <img  src="../../assets/imagenes/huellita.png"> 
            
             En nuestro sitio encontrarás muchas maneras de disfrutar a tu mejor amigo.
            Conoce lugares "Pet-Friendly", Parques, Eventos y además los mejores servicios
            para tu Mascota; veterinarios, estéticas y mucho más.
            Si llegaste aquí para Adoptar ¡no te pierdas de nuestros artículos informativos
            y darle un hogar a un integrante esencial para tu Vida!</p>
            
          </div>
        

        <div class="col-md-4 col-3 redes">
          <a href="https://www.instagram.com/darkcatqueen/"><img  src="../../assets/imagenes/instagram.jpg"></a>
          <a href="https://www.facebook.com/GrupoPatitasyBigotes/"><img  src="../../assets/imagenes/facebook.jpg"></a>
          <a href="https://www.pinterest.com.mx/madeinjessie/"><img  src="../../assets/imagenes/pinterest.jpg"></a>
          <a href="https://twitter.com/"><img  src="../../assets/imagenes/twitter.jpg"></a>
        </div>
      </div>
      </div>
      </div>
    </div>




