<div class="container-fluid">
    <div class="row justify-content-md-center texto">
        <div class="col-8 foto">
            <img class="imagen" src="../../assets/imagenes/viaje.png"> 
            <div class="text-block">
                <h4>¡¡Vacaciones!!</h4>
                <p>¿cómo viajar con tu mascota</p>
              </div>
        </div>
        <div class="col-4">
        <h2>¡¡Viajen juntos!!</h2>
        <div class="caja-texto">
          <p>No hay nada mejor que viajar con tu mascota, 
            asegurate de averiguar las líneas aereas donde puedas 
            viajar seguro...etcqfuqwcnwbicbcnqioiobqiocnw
            iojfoqwjqbejncernbeunf 
            hqdnuhrbverieriennhiejr 
            quewnwjjriw cwijrrrowmi jenfj
          </p>
        </div>

        </div>
    </div>
        
</div>
    




