

.temitas{
    border-radius: 50%;
    margin-left: 20px;
    
   
    
}



.small-icon{
    height: 30px;
    width: 30px;
    
    
  }

  


.fondito{
   
    background-image: url(../../assets/imagenes/pattern.png);
    font-family: 'Oleo Script', cursive;    
    
    
   
  }

  .lead{
    margin-left: 200px;
  }

  .texto{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
  
  }

  .contenedor{
    
    background-color:rgb(235, 221, 221);
     height: 350px;
  }

  