.container-fluid{
    background-color: black;
    width: 100%;
    height: 800px;
    position: relative;
}


.text-block {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    
    
}

.foto{
    margin-top: 30px;
    width: 50px;
    padding-left: 15px;
}

.texto{
    color: beige;
}

.caja-texto{
    background-color: rgb(88, 82, 82);
    padding-top: 20px;
    margin-top: 40px;
    margin-right: 40px;
   
}