

.temitas{
    border-radius: 50%;
    margin-left: 20px;
    
   
    
}

h2{
   
}

.small-icon{
    height: 30px;
    width: 30px;
    
    
  }

  


.Bienvenidos{
    text-align:center;
    background-color:rgb(185, 157, 157);  
    font-family: 'Oleo Script', cursive;    
    border-radius: 4px;
    
   
  }

  .texto{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
  }

  .contenedor{
    
    background-color:rgb(185, 157, 157);
     height: 350px;
  }

  