
@media(min-width: 768px){
  .lead{
    margin-left: 200px;
  }

}

@media(max-width: 768px){
  .redes{
    display: none;
  }
}

.temitas{
    border-radius: 50%;
    margin-left: 20px;
    
   
    
}

.redes{
  margin-left: 80px;

}

.small-icon{
    height: 30px;
    width: 30px;
    
    
  }

  


.fondito{
   
    background-image: url(../../assets/imagenes/pattern.png);
    font-family: 'Oleo Script', cursive;    
    
    
   
  }

  

  .texto{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
  
  }

  .contenedor{
    
    background-color:rgb(235, 221, 221);
     height: 350px;
  }

  