
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href ="#"><img class="logo" src="../../assets/imagenes/logotipo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="#Acerca de">Acerca de</a>
          </li>

          <li class="nav-item ">
              <a class="nav-link" href="#LugaresPetfriendly">Lugares Pet-Friendly</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="#notasdeinteres">Notas de Interés</a>
              </li>
            
              <li class="nav-item ">
                  <a class="nav-link" href="#contacto">Contacto</a>
                </li> 
      </ul>
    </div>
  </div>
</nav>
