<div class="container-fluid fondo">
  <div class="row justify-content-center">
          
          <div class="col-sm-3  subs">
              <a id="subscribe" style="color:black;">
              <img src="../../assets/imagenes/icono.png"style="width:50px;height:50px;">   SUBSCRIBETE 
              </a>
              
          </div>
          
          <div class="col-sm-6  nombre">      Patitas   y   Bigotes
          <a href="#"></a>
          </div>
        
  
      
      
      </div>
</div> 