/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Hammersmith+One|Leckerli+One|Short+Stack');