<div class="container-fluid negocios-home" id="Lugares Pet-Friendly y Eventos">
  <div class="row">
    <div class="col-lg-4 col-md-3">
      
        <div class="encabezado text-center">
            <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
            <h2>Lugares Pet-Friendly</h2>
          </div>
          <div class="cuadritos">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/lugares_petfriendly.jpg" alt="Card image cap">
              <div class="card-body fondo">
                <p class="card-text text-center fuente">BROKEN CHEESE PIZZA<br>
                Aquí son petfriendly, así que puedes llevar a tu perro y aparte les tienen su bebedero por si le da sed<br>
                 <br><a href="https://www.facebook.com/brokencheesegdl/"><br>Leer más</a>
              </p>
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              </div>
            </div> 
            </div>
            <div class="cuadritos">
            <div class="encabezado text-center">
                <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
                <h2>Hoteles Pet - Friendly en Guadalajara</h2>
              </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/hoteles.jpg" alt="Card image cap">
                <div class="card-body fondo">
                  <p class="card-text text-center fuente">Hoteles Pet-Friendly en Guadalajara<br>
                    <a href="https://blog.seccionamarilla.com.mx/hoteles-pet-friendly-en-guadalajara/">Leer más</a>
                  </p>

                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  
                </div>
              </div>
              </div>  

              <div class="cuadritos">  
                  <div class="encabezado text-center">
                      <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
                      <h2>Cafeteria Pet - Friendly</h2>
                    </div>
                  
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/cafe.jpg" alt="Card image cap">
                    <div class="card-body fondo">
                        
                      <p class="card-text text-center fuente">Coffee & Pet´s Deli<br>
                      <br>
                      Una cafetería donde preparan ricos postres para tu mejor amio y aparte 
                      puedes celebrarle ahí su cumpleaños
                      <a href="https://sites.google.com/view/pastelescaninos/p%C3%A1gina-principal"><br>Leer más</a>
                      </p>
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      
                    </div>
                  </div>  
              </div> 


    </div>
    <div class="col-lg-4 col-md-3 hide">
        <div class="encabezado text-center ">
            <img class="small-icon" src="../../assets/imagenes/heart.png" alt="tienda">
            <h2>Eventos</h2>
          </div>
          <div class="cuadritos">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/foto.jpg" alt="Card image cap">
              <div class="card-body fondo">
                <p class="card-text text-center fuente">Pet Run GDL<br>
                <br>
                </p>
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              </div>
            </div>  
            </div>
            <div class="cuadritos">              
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/imagenes/foto2.jpg" alt="Card image cap">
                  <div class="card-body fondo">
                    <p class="card-text text-center fuente">Manifestación Pacífica<br>
                    <br>
                    </p>
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  </div>
                </div>  
      </div>
    
      <div class="cuadritos">              
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/imagenes/junio.jpg" alt="Card image cap">
            <div class="card-body fondo">
              <p class="card-text text-center fuente">Evento de Adopciones<br>
              <br>
              </p>
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
            </div>
          </div>  
</div> 




    </div>
   

    <div class="col-lg-3 col-md-2 hide">
        <div class="encabezado text-center"id="Tienda">
            <img class="small-icon" src="../../assets/imagenes/heart.png" alt="tienda">
            <h2>Tienda Virtual</h2>
          </div>
          <div class="cuadritos">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/tiendajessie.jpg" alt="Card image cap">
              <div class="card-body fondo">
                <p class="card-text text-center fuente">Made by Jessie<br>
                <br>
                </p>
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              </div>
            </div>  
            </div>
      
                   
  </div>

  
     
  </div>
</div>
  





