<section id="Bienvenidos">
  <h2>¡¡¡Bienvenidos!!!</h2> <br>
  <p class="texto">En nuestro sitio encontrarás mcuhas maneras de disfrutar a tu mejor amigo.
      Conoce lugares "Pet-Friendly", Parques, Eventos y además los mejores servicios
      para tu Mascota; veterinarios, estéticas y mucho más.
      Si llegaste aquí para Adoptar ¡no te pierdas de nuestros artículos informativos
      y darle un hogar a un integrante esencial para tu Vida!
  </p>

</section>  

<div class="container-fluid negocios-home">
    <div class="row">
      <div class="col-lg-4 col-md-3">
        
          <div class="encabezado text-center">
              <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
              <h2>Lugares Pet-Fiendly</h2>
            </div>
            <div class="cuadritos">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/lugares_petfriendly.jpg" alt="Card image cap">
                <div class="card-body fondo">
                  <p class="card-text text-center">BROKEN CHEESE PIZZA<br>
                  Aquí son petfriendly y aparte les tiene su bebedero<br>
                  Pedro Moreno 1476</p>
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                </div>
              </div> 
              </div>
              <div class="cuadritos">
              <div class="encabezado text-center">
                  <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
                  <h2>Hoteles Pet-Friendly en Guadalajara</h2>
                </div>
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/imagenes/hoteles.jpg" alt="Card image cap">
                  <div class="card-body fondo">
                    <p class="card-text text-center">Hoteles Pet-Friendly en Guadalajara<br>
                      <a href="https://blog.seccionamarilla.com.mx/hoteles-pet-friendly-en-guadalajara/">Leer más</a>
                    </p>

                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    
                  </div>
                </div>
                </div>  


      </div>
      <div class="col-lg-4 col-md-3">
          <div class="encabezado text-center">
              <img class="small-icon" src="../../assets/imagenes/heart.png" alt="tienda">
              <h2>Eventos</h2>
            </div>
            <div class="cuadritos">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/foto.jpg" alt="Card image cap">
                <div class="card-body fondo">
                  <p class="card-text text-center">Pet Run GDL<br>
                  <br>
                  </p>
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                </div>
              </div>  
              </div>
              <div class="cuadritos">              
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/foto2.jpg" alt="Card image cap">
                    <div class="card-body fondo">
                      <p class="card-text text-center">Pet Run GDL<br>
                      <br>
                      </p>
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                      <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    </div>
                  </div>  
        </div>
              

      </div>
     

      <div class="col-lg-3 col-md-2">
          
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Anunciate</div>
                <div class="card-body">
                  <h5 class="card-title">
                    <img class="small-icon" src="../../assets/imagenes/huella-2.png">
                  </h5>
                  <p class="card-text">Anuncia tu Negocio o servicio con nosotros y date a conocer</p>
                </div>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-dark ">Submit</button>
              </form>

              
      </div>
    </div>
  </div>
  





