#Bienvenidos{
    text-align:center;
   padding-top: 20px;
    font-family: 'Oleo Script', cursive;
   
  }

  .texto{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
  }

  .articulo{
    font-size: .8rem;

  }

  main-content-inner {
    padding: 0;
  }  