<div class="container-fluid negocios-home">
  <div class="row">
    <div class="col-lg-4 col-md-3">
      
        <div class="encabezado text-center">
            <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
            <h2>Lugares Pet-Fiendly</h2>
          </div>
          <div class="cuadritos">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/lugares_petfriendly.jpg" alt="Card image cap">
              <div class="card-body fondo">
                <p class="card-text text-center">BROKEN CHEESE PIZZA<br>
                Aquí son petfriendly y aparte les tiene su bebedero<br>
                Pedro Moreno 1476</p>
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              </div>
            </div> 
            </div>
            <div class="cuadritos">
            <div class="encabezado text-center">
                <img class="small-icon" src="../../assets/imagenes/tienda-icon.png" alt="tienda">
                <h2>Hoteles Pet-Friendly en Guadalajara</h2>
              </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/hoteles.jpg" alt="Card image cap">
                <div class="card-body fondo">
                  <p class="card-text text-center">Hoteles Pet-Friendly en Guadalajara<br>
                    <a href="https://blog.seccionamarilla.com.mx/hoteles-pet-friendly-en-guadalajara/">Leer más</a>
                  </p>

                  <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  
                </div>
              </div>
              </div>  


    </div>
    <div class="col-lg-4 col-md-3">
        <div class="encabezado text-center">
            <img class="small-icon" src="../../assets/imagenes/heart.png" alt="tienda">
            <h2>Eventos</h2>
          </div>
          <div class="cuadritos">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/imagenes/foto.jpg" alt="Card image cap">
              <div class="card-body fondo">
                <p class="card-text text-center">Pet Run GDL<br>
                <br>
                </p>
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              </div>
            </div>  
            </div>
            <div class="cuadritos">              
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/imagenes/foto2.jpg" alt="Card image cap">
                  <div class="card-body fondo">
                    <p class="card-text text-center">Pet Run GDL<br>
                    <br>
                    </p>
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                    <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
                  </div>
                </div>  
      </div>
    
      <div class="cuadritos">              
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/imagenes/junio.jpg" alt="Card image cap">
            <div class="card-body fondo">
              <p class="card-text text-center">Pet Run GDL<br>
              <br>
              </p>
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
              <img class="small-icon" src="../../assets/imagenes/huellita.png" alt="icono">
            </div>
          </div>  
</div> 


    </div>
   

    <div class="col-lg-3 col-md-2">
        
      <div class="cuadrito2">              
        <div class="card" style="width: 18rem;">
            <img class="card-img-top posters" src="../../assets/imagenes/poster1.jpg" alt="Card image cap">
            
       </div> 
                     
    </div>
   
   
        
      <div class="cuadrito2">              
        <div class="card" style="width: 18rem;">
            <img class="card-img-top posters" src="../../assets/imagenes/poster2.jpg" alt="Card image cap">
            
       </div> 
                     
    </div>

    <div class="cuadrito2">              
      <div class="card" style="width: 18rem;">
          <img class="card-img-top posters" src="../../assets/imagenes/poster3.jpg" alt="Card image cap">
          
     </div> 
                   
  </div>

  </div>
</div>
  





